<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="icon" href="data:;base64,=" />
    <title>Info</title>
  </head>
  <body>
    <nav>
      <h2>Navbar</h2>
    </nav>
    <div class="container">
      <h2>User information:</h2>

      <h3>Username:</h3>
      <span><%=userInfo.username%></span>
      <h3>Email:</h3>
      <span><%=userInfo.email%></span>
      <h3>Phone:</h3>
      <span><%=userInfo.phone%></span>
      <h3>Age:</h3>
      <span><%=userInfo.age%></span>
      <h3>Address:</h3>
      <span><%=userInfo.address%></span>
      <h3>Cart ID:</h3>
      <span><%=userInfo.cart%></span>
    </div>
  </body>
</html>
